# NLP Distaster Tweets
Data are loaded in.

In [2]:
import pandas as pd

sample_submission = pd.read_csv('./Data/sample_submission.csv')
test = pd.read_csv('./Data/test.csv')
train = pd.read_csv('./Data/train.csv')

The data are displayed.

## Train Data

In [3]:
print(train.shape)
train.head()

(7613, 5)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

## Test Data

In [4]:
print(test.shape)
test.head()

(3263, 4)

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

## Sample Submission

In [5]:
print(sample_submission.shape)
sample_submission.head()

(3263, 2)

   id  target
0   0       0
1   2       0
2   3       0
3   9       0
4  11       0

## Preprocessing
The text data must be processed before we can train any models on it. First we count the occurences of words in the first five tweets.

In [21]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.pipeline import Pipeline

tf_idf = TfidfTransformer()

train_text = train['text'].values

# Just see what it does on the first 5 tweets
train_text_5 = train_text[:5]
train_text_5

vectorizer = CountVectorizer()
X = vectorizer.fit_transform(train_text_5)

print(vectorizer.get_feature_names())
print(X.shape)

['000', '13', 'alaska', 'all', 'allah', 'are', 'as', 'asked', 'being', 'by', 'california', 'canada', 'deeds', 'earthquake', 'evacuation', 'expected', 'fire', 'forest', 'forgive', 'from', 'got', 'in', 'into', 'just', 'la', 'may', 'near', 'no', 'notified', 'of', 'officers', 'or', 'orders', 'other', 'our', 'people', 'photo', 'place', 'pours', 'reason', 'receive', 'residents', 'ronge', 'ruby', 'sask', 'school', 'sent', 'shelter', 'smoke', 'the', 'this', 'to', 'us', 'wildfires']
(5, 54)

So it looks like the `CountVectorizer` found 54 different tokens for the first five tweets. Now we will use a naive vocabulary as tokens and explore the resulting data.

In [ ]:
vocab = ['disaster', 'fire', 'storm', 'hurricane', 'ablaze', 'rumble', 'earthquake']
vectorizer = CountVectorizer(vocabulary=vocab)

vectorizer